body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4a90e2, #005082); /* Fondo degradado */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-container th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.create-user {
    margin-top: 20px;
}

.create-user input{
    margin: 5px;
    width: 85%;
    padding: 10px;
    display: block;
}

.create-user select, .create-user button {
    margin: 5px;
    width: 95%;
    padding: 10px;
    display: block;
}