<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apdc.css') }}">
</head>
<body>
    <div class="container">
        <h1>Panel del Administrador</h1>
        <div class="button-container">
            <a href="/visualizar" class="btn">Visualizar</a>
            <a href="/altas_bajas" class="btn">Altas/Bajas</a>
            <a href="/descarga" class="btn">Descarga</a>
        </div>
        <div class="logout-container">
            <a href="/logout" class="btn btn-logout">Cerrar Sesión</a>
        </div>
    </div>
</body>
</html>
