<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Reportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver_reportes.css') }}">
</head>

<body>
    <div class="container">
        <h1>Ver Reportes</h1>

        <!-- Tabla de reportes -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                    <tr onclick="selectReport({{ loop.index0 }})">
                        <td>{{ report['fecha'] }}</td>
                        <td>{{ report['cliente'] }}</td>
                        <td>{{ report['ubicacion'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Formulario para mostrar el reporte seleccionado -->
        <div class="form-container">
            <h2>Reporte</h2>
            <form>
                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" readonly>

                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" readonly>

                <label for="equipo">Equipo:</label>
                <input type="text" id="equipo" readonly>

                <label for="fecha">Fecha:</label>
                <input type="text" id="fecha" readonly>

                <label for="bloque_mantenimiento">Bloque de Mantenimiento (MOMB):</label>
                <input type="text" id="bloque_mantenimiento" readonly>

                <label for="cie">CIE (Control Interno de Equipo):</label>
                <input type="text" id="cie" readonly>

                <label for="resumen">Resumen de Actividad:</label>
                <textarea id="resumen" readonly></textarea>

                <label for="refaccion">Refacción o Componente por Sustituir:</label>
                <textarea id="refaccion" readonly></textarea>

                <label for="equipo_parado">Equipo Parado:</label>
                <input type="text" id="equipo_parado" readonly>

                <label for="equipo_funcionando">Equipo Funcionando:</label>
                <input type="text" id="equipo_funcionando" readonly>

                <!-- Bloques de Mantenimiento -->
                <div><h2>Bloques de Mantenimiento:</h2></div>

                <label for="reparacion">Reparación:</label>
                <input type="text" id="reparacion" readonly>
                <label for="mantenimiento">Mantenimiento:</label>
                <input type="text" id="mantenimiento" readonly>
                <label for="falla_averia">Falla/Avería:</label>
                <input type="text" id="falla_averia" readonly>
                <label for="fallas_24_7">Fallas 24/7:</label>
                <input type="text" id="fallas_24_7" readonly>
                <label for="emergencia_24_7">Emergencia 24/7:</label>
                <input type="text" id="emergencia_24_7" readonly>
                <label for="diagnostico_tecnico">Diagnóstico Técnico:</label>
                <input type="text" id="diagnostico_tecnico" readonly>
                <label for="traslado_logistica">Traslado de Logística:</label>
                <input type="text" id="traslado_logistica" readonly>
                <label for="levantamiento_datos_tecnicos">Levantamiento de Datos Técnicos:</label>
                <input type="text" id="levantamiento_datos_tecnicos" readonly>
                <label for="modernizacion">Modernización:</label>
                <input type="text" id="modernizacion" readonly>
                <label for="montaje_nuevo">Montaje Nuevo:</label>
                <input type="text" id="montaje_nuevo" readonly>

                <!-- Puntos de Seguridad -->
                <div><h2>Puntos de Seguridad:</h2></div>
                <label for="micro_inf_final">Micro Inf. Final:</label>
                <input type="text" id="micro_inf_final" readonly>
                <label for="micro_sup_final">Micro Sup. Final:</label>
                <input type="text" id="micro_sup_final" readonly>
                <label for="stop_foso">Stop de Foso:</label>
                <input type="text" id="stop_foso" readonly>
                <label for="micro_lim_vel">Micro Lim. de Vel.:</label>
                <input type="text" id="micro_lim_vel" readonly>
                <label for="micro_acunamiento">Micro Acuñamiento:</label>
                <input type="text" id="micro_acunamiento" readonly>
                <label for="micro_polea_tensora">Micro Polea Tensora:</label>
                <input type="text" id="micro_polea_tensora" readonly>
                <label for="micro_puertas_cab">Micro Puertas Cab.:</label>
                <input type="text" id="micro_puertas_cab" readonly>
                <label for="micro_puertas_ext">Micro Puertas Ext.:</label>
                <input type="text" id="micro_puertas_ext" readonly>
                <label for="stop_techo_cabina">Stop Techo Cabina:</label>
                <input type="text" id="stop_techo_cabina" readonly>
            </form>

        </div>

        <!-- Navegación entre reportes -->
        <div class="navigation">
            <button onclick="navigateReport(-1)">Anterior</button>
            <button onclick="navigateReport(1)">Siguiente</button>
        </div>
        <button class="back-btn" onclick="window.history.back()">Regresar</button>
    </div>

    <script>
        const reports = {{ reports | safe }};
        let currentIndex = 0;

        function selectReport(index) {
            currentIndex = index;
            showReport();
        }

        function navigateReport(direction) {
            currentIndex = (currentIndex + direction + reports.length) % reports.length;
            showReport();
        }

        function showReport() {
            const report = reports[currentIndex];
            document.getElementById('cliente').value = report.cliente;
            document.getElementById('ubicacion').value = report.ubicacion;
            document.getElementById('equipo').value = report.equipo;
            document.getElementById('fecha').value = report.fecha;
            document.getElementById('bloque_mantenimiento').value = report.bloque_mantenimiento_momb;
            document.getElementById('cie').value = report.cie;
            document.getElementById('resumen').value = report.resumen_actividad;
            document.getElementById('refaccion').value = report.refaccion_componente;
            document.getElementById('equipo_parado').value = report.equipo_parado === 1 ? "Sí" : "No";
            document.getElementById('equipo_funcionando').value = report.equipo_funcionando === 1 ? "Sí" : "No";

            // Bloques de mantenimiento
            document.getElementById('reparacion').value = report.reparacion === 1 ? "Sí" : "No";
            document.getElementById('mantenimiento').value = report.mantenimiento === 1 ? "Sí" : "No";
            document.getElementById('falla_averia').value = report.falla_averia === 1 ? "Sí" : "No";
            document.getElementById('fallas_24_7').value = report.fallas_24_7 === 1 ? "Sí" : "No";
            document.getElementById('emergencia_24_7').value = report.emergencia_24_7 === 1 ? "Sí" : "No";
            document.getElementById('diagnostico_tecnico').value = report.diagnostico_tecnico === 1 ? "Sí" : "No";
            document.getElementById('traslado_logistica').value = report.traslado_logistica === 1 ? "Sí" : "No";
            document.getElementById('levantamiento_datos_tecnicos').value = report.levantamiento_datos_tecnicos === 1 ? "Sí" : "No";
            document.getElementById('modernizacion').value = report.modernizacion === 1 ? "Sí" : "No";
            document.getElementById('montaje_nuevo').value = report.montaje_nuevo === 1 ? "Sí" : "No";

            // Puntos de seguridad
            document.getElementById('micro_inf_final').value = report.micro_inf_final === 1 ? "Sí" : "No";
            document.getElementById('micro_sup_final').value = report.micro_sup_final === 1 ? "Sí" : "No";
            document.getElementById('stop_foso').value = report.stop_foso === 1 ? "Sí" : "No";
            document.getElementById('micro_lim_vel').value = report.micro_lim_vel === 1 ? "Sí" : "No";
            document.getElementById('micro_acunamiento').value = report.micro_acunamiento === 1 ? "Sí" : "No";
            document.getElementById('micro_polea_tensora').value = report.micro_polea_tensora === 1 ? "Sí" : "No";
            document.getElementById('micro_puertas_cab').value = report.micro_puertas_cab === 1 ? "Sí" : "No";
            document.getElementById('micro_puertas_ext').value = report.micro_puertas_ext === 1 ? "Sí" : "No";
            document.getElementById('stop_techo_cabina').value = report.stop_techo_cabina === 1 ? "Sí" : "No";
        }

        // Mostrar el primer reporte al cargar la página
        if (reports.length > 0) showReport();
    </script>
</body>
</html>
